# based on https://github.com/kubernetes-incubator/cri-o/blob/master/contrib/systemd/crio.service
[Unit]
Description=Open Container Initiative Daemon
Documentation=https://github.com/kubernetes-incubator/cri-o
After=network-online.target

[Service]
Type=notify
Environment=GOTRACEBACK=crash
ExecStart=/usr/local/bin/crio --root /dind/crio --cgroup-manager cgroupfs --cni-config-dir /etc/cni/net.d --cni-plugin-dir /opt/cni/bin
ExecReload=/bin/kill -s HUP $MAINPID
TasksMax=infinity
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity
OOMScoreAdjust=-999
TimeoutStartSec=0
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
