[Unit]
Description=CRI Proxy
Wants=dockershim.service

[Service]
ExecStart=/usr/bin/criproxy.sh -v 3 -alsologtostderr -connect /var/run/dockershim.sock,virtlet.cloud:/run/virtlet.sock -listen /run/criproxy.sock
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=kubelet.service
